RewriteEngine On
#RewriteBase /

RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^admin$ /Users/allinson/Php/hoobr/none_modules/hoobr-admin/admin.php [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^logon$ /Users/allinson/Php/hoobr/none_modules/hoobr-logon/logon.php [L,QSA]

RewriteCond %{REQUEST_METHOD} GET
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ /Users/allinson/Php/hoobr/none_modules/hoobr-public/public.php [L,QSA]
